body {
  flex-direction: column;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.card {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  font-size: 70px;
  position: relative;
}

.top,
.bottom {
  position: absolute;
  font-size: 90px;
}

.top { 
  top: 10px; left: 10px; }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 150px;
}

.bottom {
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
}

.heart, .diamond { 
  color: red; }
.spade, .club    { 
  color: black; }

@media (max-width: 500px) {
  .card {
    width: 200px;
    height: 280px;
    font-size: 50px;
  }
  .top, .bottom { 
    font-size: 25px; 
  }
  .center { 
    font-size: 40px;
   }

  }
#btnNueva{
  padding: 8px 12px;  
  border:0;
  border-radius:10px;
  background: red;
  color:#fff;
  font-weight:600;
  cursor:pointer;
  margin-bottom:12px;
}
.inputs-container{
  position: absolute;
  margin-bottom: 40%;
  left: 20px;
}
.inputs-container1{
  position: absolute;
  top: 20px;
  left: 20px;
}